input[type=checkbox],input[type=radio] {
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
line-height:normal;
margin:4px 0 0;
padding:0;
}

.glyphicon-unchecked:before {
content:"\e157";
}

.checkbox,.radio {
position:relative;
display:block;
min-height:20px;
margin-top:10px;
margin-bottom:10px;
vertical-align:middle;
}

.checkbox label,.radio label {
min-height:20px;
padding-left:20px;
font-weight:400;
display:inline;
margin-bottom:0;
cursor:pointer;
}

.checkbox input[type=checkbox],.checkbox-inline input[type=checkbox],.radio input[type=radio],.radio-inline input[type=radio] {
position:absolute;
margin-left:-20px;
float:left;
}

.checkbox+.checkbox,.radio+.radio {
margin-top:-5px;
}

.checkbox-inline,.radio-inline {
position:relative;
padding-left:20px;
font-weight:400;
line-height:19px;
display:inline-block;
height:19px;
margin-bottom:0;
cursor:pointer;
vertical-align:middle;
}

.checkbox-inline+.checkbox-inline,.radio-inline+.radio-inline {
margin-top:0;
margin-left:10px;
}

.form-horizontal .checkbox,.form-horizontal .checkbox-inline,.form-horizontal .radio,.form-horizontal .radio-inline {
padding-top:7px;
margin-top:0;
margin-bottom:0;
}

.form-horizontal .checkbox,.form-horizontal .radio {
min-height:27px;
}

[data-toggle=buttons]>.btn input[type=checkbox],[data-toggle=buttons]>.btn input[type=radio],[data-toggle=buttons]>.btn-group>.btn input[type=checkbox],[data-toggle=buttons]>.btn-group>.btn input[type=radio] {
position:absolute;
clip:rect(0,0,0,0);
pointer-events:none;
}

.checker.disabled,.checker.disabled span,.chosen-disabled,.disabled,.radio.disabled,.radio.disabled span,.ui-rangeSlider-disabled .ui-rangeSlider-arrow,.ui-rangeSlider-disabled .ui-rangeSlider-container,.ui-rangeSlider-disabled .ui-rangeSlider-label,.ui-state-disabled,button[disabled] {
cursor:not-allowed!important;
opacity:.65;
filter:alpha(opacity:65);
}

.btn,a,button,div[id^=uniform-] span {
-webkit-transition:all .1s ease-in-out;
-moz-transition:all .1s ease-in-out;
-ms-transition:all .1s ease-in-out;
-o-transition:all .1s ease-in-out;
}

.badge-info,.bg-blue,.bootstrap-switch-info,.btn-info,.checkbox-info div[id^=uniform-] span.checked,.hover-blue:hover,.hover-info:hover,.label-info,.progress-bar-info,.radio-info div[id^=uniform-] span.checked {
color:#fff;
background:#3498db;
border-color:#308dcc;
}

.badge-danger,.bg-danger,.bg-red,.bootstrap-switch-danger,.btn-danger,.checkbox-danger div[id^=uniform-] span.checked,.hover-danger:hover,.hover-red:hover,.label-danger,.progress-bar-danger,.radio-danger div[id^=uniform-] span.checked {
color:#fff;
background:#e74c3c;
border-color:#cf4436;
}

.badge-success,.bg-green,.bootstrap-switch-success,.btn-success,.checkbox-success div[id^=uniform-] span.checked,.hover-green:hover,.hover-success:hover,.label-success,.progress-bar-success,.radio-success div[id^=uniform-] span.checked {
color:#fff;
background:#2ecc71;
border-color:#29b765;
}

.badge-warning,.bg-orange,.bg-warning,.bootstrap-switch-warning,.btn-warning,.checkbox-warning div[id^=uniform-] span.checked,.hover-orange:hover,.hover-warning:hover,.label-warning,.progress-bar-warning,.radio-warning div[id^=uniform-] span.checked {
color:#fff;
background:#e67e22;
border-color:#d67520;
}

.checkbox-inline label,.radio-inline label {
font-weight:400;
line-height:17px;
}

.form-horizontal .checkbox,.form-horizontal .checkbox-inline,.form-horizontal .control-label,.form-horizontal .radio,.form-horizontal .radio-inline {
margin-top:0;
margin-bottom:0;
padding-top:7px;
}

.input-group-addon div[id^=uniform-] {
margin:0 -3px;
}

.icon-flag-checkered:before {
content:"\f11e";
}

.bootstrap-switch input[type=checkbox],.bootstrap-switch input[type=radio] {
position:absolute!important;
z-index:-1;
top:0;
left:0;
opacity:0;
filter:alpha(opacity=0);
}

.note-popover .popover .popover-content .dropdown-menu li a.checked i,.note-toolbar .dropdown-menu li a.checked i {
visibility:visible;
}

div[id^=uniform-],div[id^=uniform-] input,div[id^=uniform-] span {
line-height:18px;
display:block;
float:left;
width:20px;
height:20px;
cursor:pointer;
margin:0 3px 0 0;
padding:0;
}

div[id^=uniform-] {
margin-right:10px;
opacity:.9;
filter:alpha(opacity=90);
-moz-opacity:90;
}

div[id^=uniform-] span {
position:relative;
display:inline-block;
zoom:1;
margin-top:-1px;
text-align:center;
border-style:solid;
border-width:1px;
}

div[id^=uniform-] span.checked i {
font-size:14px;
line-height:18px;
display:block;
height:18px;
}

div.radio[id^=uniform-] span.checked i {
font-size:9px;
}

div[id^=uniform-] input {
position:absolute;
top:0;
left:0;
display:inline-block;
zoom:1;
opacity:0;
border:none;
background:0 0;
filter:alpha(opacity=0);
-moz-opacity:0;
}

div.checker[id^=uniform-] label {
line-height:19px;
}

.editable-checklist label input[type=checkbox],.editable-checklist label span {
vertical-align:middle;
margin:0;
}

.mailbox-wrapper td .checker {
float:none;
margin:3px auto 0;
}

.border-primary,.btn-primary,.nav>li.active>a,.nav>li.active>a:focus,.nav>li.active>a:hover,.ui-accordion .ui-accordion-header.ui-accordion-header-active,.ui-datepicker .ui-datepicker-next,.ui-datepicker .ui-datepicker-prev,.ui-dialog-buttonset button,.ui-spinner .ui-spinner-button:hover,a.list-group-item.active,a.list-group-item.active:focus,a.list-group-item.active:hover,a.thumbnail:hover,div[id^=uniform-] span.checked,li.active a.list-group-item,li.active a.list-group-item:focus,li.active a.list-group-item:hover {
border-color:#00a792;
}

#loadingbar,#nav-toggle span:after,#nav-toggle span:before,#nav-toggle.collapsed span,.badge-primary,.bg-primary,.bootstrap-switch-primary,.btn-primary,.chosen-container .chosen-results li.active-result.highlighted,.daterangepicker .ranges li.active,.daterangepicker .ranges li.active:hover,.fc-event,.form-wizard>ul>li.active .wizard-step,.irs-line-left,.irs-line-mid,.irs-line-right,.label-primary,.ms-hover.ui-state-focus,.ms-list .ms-hover,.nav>li.active>a,.nav>li.active>a:focus,.nav>li.active>a:hover,.owl-controls .owl-page span,.ui-accordion-header.ui-accordion-header-active,.ui-datepicker .ui-datepicker-current-day a,.ui-datepicker .ui-datepicker-current-day span,.ui-datepicker .ui-datepicker-next,.ui-datepicker .ui-datepicker-prev,.ui-dialog-buttonset button,.ui-menu li>a:hover,.ui-rangeSlider-bar,.ui-slider-handle,.ui-spinner .ui-spinner-button:hover,.ui-tabs-nav li.ui-state-active.ui-state-hover>a,.ui-tabs-nav li.ui-state-active>a,a.list-group-item.active,a.list-group-item.active:focus,a.list-group-item.active:hover,div.switch-toggle.switch-on,div[id^=uniform-] span.checked,li.active a.list-group-item,li.active a.list-group-item:focus,li.active a.list-group-item:hover {
color:#fff;
background:#00bca4;
}

.bg-default,.bg-white.dashboard-box .button-pane,.bg-white.tile-box .tile-footer,.border-default,.bordered-row .form-group,.btn-default,.button-pane,.chosen-container,.chosen-container .chosen-drop,.chosen-container-active.chosen-with-drop .chosen-single div,.chosen-container-multi .chosen-choices li.search-choice,.chosen-container-single .chosen-single div,.content-box,.content-box-header.bg-default,.content-box-header.bg-gray,.content-box-header.bg-white,.dashboard-buttons .btn,.daterangepicker .calendar-date,.dropdown-menu,.email-body,.fc-state-default,.fc-widget-content,.fc-widget-header,.img-thumbnail,.jvectormap-label,.jvectormap-zoomin,.jvectormap-zoomout,.list-group-item,.mail-toolbar,.mailbox-wrapper .nav-list li a,.minicolors-panel,.ms-container .ms-list,.ms-container .ms-selectable li.ms-elem-selectable,.ms-container .ms-selection li.ms-elem-selection,.nav .open>a,.nav .open>a:focus,.nav .open>a:hover,.nav-tabs,.nav-tabs>li>a:focus,.nav-tabs>li>a:hover,.pagination>li>a,.pagination>li>span,.panel,.panel-box.bg-default,.panel-box.bg-gray,.panel-box.bg-white,.panel-content.bg-default,.panel-content.bg-gray,.panel-content.bg-white,.panel-footer,.panel-group .panel-footer+.panel-collapse .panel-body,.panel-group .panel-heading+.panel-collapse .panel-body,.panel-heading,.popover,.popover-title,.posts-list li,.selector i,.table-bordered,.table>tbody>tr>td,.table>tbody>tr>th,.table>tfoot>tr>td,.table>tfoot>tr>th,.table>thead>tr>td,.table>thead>tr>th,.tabs-navigation>ul,.tabs-navigation>ul li.ui-state-hover>a,.tabs-navigation>ul li>a,.thumb-pane,.thumbnail,.timeline-box .tl-item .popover,.timeline-box:before,.ui-accordion .ui-accordion-header,.ui-datepicker,.ui-datepicker .ui-datepicker-buttonpane button,.ui-datepicker-buttonpane,.ui-dialog,.ui-dialog .ui-dialog-titlebar,.ui-dialog-buttonpane,.ui-menu,.ui-spinner .ui-spinner-button,.ui-tabs-nav,div.selector,div[id^=uniform-] span {
border-color:#dfe8f1;
}

.bg-default,.bg-white.dashboard-box .button-pane,.bg-white.tile-box .tile-footer,.bootstrap-switch-default,.btn-default,.button-pane,.jvectormap-label,.jvectormap-zoomin,.jvectormap-zoomout,.label-default,.mail-toolbar,.panel-footer,.panel-heading,.popover-title,.ui-accordion-header,.ui-datepicker td a,.ui-datepicker td span,.ui-dialog .ui-dialog-titlebar,.ui-spinner .ui-spinner-button,div[id^=uniform-] span {
color:#555a60;
background-color:#FEFEFF;
}

.alert,.alert-icon,.bootstrap-timepicker-widget table td input,.bsdatepicker,.bsdatepicker td,.bsdatepicker td span,.bsdatepicker th,.btn,.button-pane,.chosen-choices,.chosen-choices li.search-choice,.chosen-container,.chosen-container-single .chosen-search input,.chosen-results li.highlighted,.chosen-single,.content-box,.content-box .ui-widget-overlay.loader,.content-box-closed,.content-box-closed .content-box-header,.dashboard-box,.daterangepicker,.daterangepicker .calendar-date,.daterangepicker .ranges li,.daterangepicker td,.daterangepicker th,.dropdown-menu,.dropdown-submenu.float-left>.dropdown-menu,.dropzone,.form-control,.form-input-icon .glyph-icon,.hero-btn,.icon-boxed,.image-box,.info-box,.info-box-alt,.input,.input-group-addon.addon-inside,.jGrowl-notification,.main-header .main-nav.nav-alt li.sf-mega-menu .sf-mega a,.main-header .main-nav.nav-alt li>ul li a,.main-nav ul li ul li a,.minicolors-panel,.ms-list li,.nav-list,.nav-list-horizontal-alt li a,.nav-tabs.nav-justified>li>a,.nav>li>a,.notifications-box,.pagination,.panel-box,.panel-content,.panel-group .panel,.panel-layout,.popover,.progressbar,.progressbar-value,.sb-slidebar .chat-box li a,.sb-slidebar .popover-title,.selector,.table-rounded,.tile-box,.tile-button,.todo-box li,.tooltip-inner,.ui-accordion,.ui-accordion-header,.ui-button,.ui-corner-all,.ui-datepicker,.ui-datepicker td a,.ui-datepicker td span,.ui-datepicker-buttonpane button,.ui-datepicker-next,.ui-datepicker-prev,.ui-dialog,.ui-dialog .ui-dialog-titlebar-close,.ui-dialog-buttonset button,.ui-dialog-titlebar-close,.ui-editRangeSlider-inputValue,.ui-menu li a,.ui-menu-item,.ui-rangeSlider-bar,.ui-rangeSlider-label,.ui-rangeSlider-noArrow .ui-rangeSlider-container,.ui-rangeSlider-withArrows .ui-rangeSlider-container,.ui-tabs,.ui-toolbar input,.ui-toolbar select,div.dataTables_filter input,div[id^=uniform-] span {
border-radius:3px;
}

[hidden],template,.collapse,.tab-content>.tab-pane,.label:empty,.badge:empty,[hidden],.hide,.lazy,.mix,.tab-pane,[data-toggle=buttons]>.btn>input[type=checkbox],[data-toggle=buttons]>.btn>input[type=radio],.bs-label:empty,.bs-badge:empty,.hidden-button .content-box-header .btn,.hidden-button .content-box-header a,.hidden-button .content-box-header button,[data-toggle=buttons]>.btn>input[type=checkbox],[data-toggle=buttons]>.btn>input[type=radio],.thumbnail-box-inverse:hover .thumb-content,.list-group-separator li:last-child a.list-group-item:after,.xchart .color2.comp .fill,.xchart .color3.comp .fill,.xchart .color4.comp .fill,.xchart .color5.comp .fill,.xchart .color6.comp .fill,.xchart .color7.comp .fill,.xchart .color8.comp .fill,.xchart .color9.comp .fill,.dataTables_scrollBody table.dataTable thead th.sorting:after,table.dataTable.dtr-inline.collapsed tbody td:first-child.dataTables_empty:before,table.dataTable.dtr-inline.collapsed tbody th:first-child.dataTables_empty:before,table.dataTable.dtr-inline.collapsed tbody tr.child td:before,.bsdatepicker>div,.ui-dialog .ui-dialog-titlebar-close .ui-button-text,.ui-resizable-autohide .ui-resizable-handle,.ui-resizable-disabled .ui-resizable-handle,.minicolors-inline .minicolors-panel:after,.minicolors-inline .minicolors-panel:before,.dropzone.dz-started .dz-message,.dropzone .dz-preview.dz-file-preview [data-dz-thumbnail],.dropzone-previews .dz-preview.dz-file-preview [data-dz-thumbnail],.dropzone .dz-preview:hover .dz-details img,.dropzone-previews .dz-preview:hover .dz-details img,.fileinput-exists .fileinput-new,.fileinput-new .fileinput-exists,.blueimp-gallery>.slides>.slide-error>.slide-content,.blueimp-gallery-left>.prev,.blueimp-gallery-right>.next,.blueimp-gallery-single>.next,.blueimp-gallery-single>.play-pause,.blueimp-gallery-single>.prev,.blueimp-gallery-single>.indicator,.blueimp-gallery>.slides>.slide>.video-content>video,.blueimp-gallery>.slides>.slide>.video-playing>a,.blueimp-gallery>.slides>.slide>.video-playing>img,.dd-collapsed .dd-list,.popover-title:empty,.pp_fade,.pp_gallery li.default a img,#sb-site .sb-overlay,.sb-hide,.note-editor.codeview .note-editable,.note-editor.fullscreen .note-resizebar,.note-dialog>div,.input-group-addon div[id^=uniform-] span i,div[id^=uniform-] span i,.loader,.msgBox,.datepicker>div,.boxed-layout .dashboard-box .list-grade,.fixed-sidebar #page-header #close-sidebar,.xchart .color0.comp .fill,.xchart .color1.comp .fill {
display:none;
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button,select[multiple],select[size],select[multiple].input-sm,textarea.input-sm,.form-group-sm select[multiple].form-control,.form-group-sm textarea.form-control,select[multiple].input-lg,textarea.input-lg,.form-group-lg select[multiple].form-control,.form-group-lg textarea.form-control,select[multiple].input-group-lg>.form-control,select[multiple].input-group-lg>.input-group-addon,select[multiple].input-group-lg>.input-group-btn>.btn,textarea.input-group-lg>.form-control,textarea.input-group-lg>.input-group-addon,textarea.input-group-lg>.input-group-btn>.btn,select[multiple].input-group-sm>.form-control,select[multiple].input-group-sm>.input-group-addon,select[multiple].input-group-sm>.input-group-btn>.btn,textarea.input-group-sm>.form-control,textarea.input-group-sm>.input-group-addon,textarea.input-group-sm>.input-group-btn>.btn,textarea.input-sm,textarea.input-lg,textarea.input-group-lg>.form-control,textarea.input-group-lg>.input-group-addon,textarea.input-group-lg>.input-group-btn>.btn,textarea.input-group-sm>.form-control,textarea.input-group-sm>.input-group-addon,textarea.input-group-sm>.input-group-btn>.btn,.bootstrap-switch input[type=checkbox].form-control,.bootstrap-switch input[type=radio].form-control {
height:auto;
}

a:focus,input[type=checkbox]:focus,input[type=file]:focus,input[type=radio]:focus,.btn.active.focus,.btn.active:focus,.btn.focus,.btn:active.focus,.btn:active:focus,.btn:focus {
outline:0 auto 5px;
outline-offset:-2px;
}

.text-success,.has-success .checkbox,.has-success .checkbox-inline,.has-success .control-label,.has-success .help-block,.has-success .radio,.has-success .radio-inline,.has-success.checkbox label,.has-success.checkbox-inline label,.has-success.radio label,.has-success.radio-inline label,.has-success .form-control-feedback,a.list-group-item-success,button.list-group-item-success,.form-group.has-success .fileinput .fileinput-preview {
color:#3c763d;
}

.text-warning,.has-warning .checkbox,.has-warning .checkbox-inline,.has-warning .control-label,.has-warning .help-block,.has-warning .radio,.has-warning .radio-inline,.has-warning.checkbox label,.has-warning.checkbox-inline label,.has-warning.radio label,.has-warning.radio-inline label,.has-warning .form-control-feedback,a.list-group-item-warning,button.list-group-item-warning,.form-group.has-warning .fileinput .fileinput-preview {
color:#8a6d3b;
}

.text-danger,.has-error .checkbox,.has-error .checkbox-inline,.has-error .control-label,.has-error .help-block,.has-error .radio,.has-error .radio-inline,.has-error.checkbox label,.has-error.checkbox-inline label,.has-error.radio label,.has-error.radio-inline label,.has-error .form-control-feedback,a.list-group-item-danger,button.list-group-item-danger,.form-group.has-error .fileinput .fileinput-preview {
color:#a94442;
}

.form-control[disabled],fieldset[disabled] .form-control,.checkbox-inline.disabled,.checkbox.disabled label,.radio-inline.disabled,.radio.disabled label,fieldset[disabled] .checkbox label,fieldset[disabled] .checkbox-inline,fieldset[disabled] .radio label,fieldset[disabled] .radio-inline,fieldset[disabled] input[type=checkbox],fieldset[disabled] input[type=radio],input[type=checkbox].disabled,input[type=checkbox][disabled],input[type=radio].disabled,input[type=radio][disabled],.checkbox-inline[disabled],.checkbox[disabled],.radio-inline[disabled],.radio[disabled],fieldset[disabled] .checkbox,fieldset[disabled] .checkbox-inline,fieldset[disabled] .radio,fieldset[disabled] .radio-inline,fieldset[disabled] input[type=checkbox],fieldset[disabled] input[type=radio],input[type=checkbox][disabled],input[type=radio][disabled] {
cursor:not-allowed;
}

.input-group-addon input[type=checkbox],.input-group-addon input[type=radio],.media:first-child,.dd-dragel>.dd-item .dd-handle {
margin-top:0;
}

.form-inline .checkbox,.form-inline .radio {
vertical-align:middle;
display:inline-block;
margin-top:0;
margin-bottom:0;
padding-left:0;
}

.form-inline .checkbox input[type=checkbox],.form-inline .radio input[type=radio] {
position:relative;
float:none;
margin-left:0;
}

.navbar-form .checkbox,.navbar-form .radio {
display:inline-block;
margin-top:0;
margin-bottom:0;
vertical-align:middle;
}

.navbar-form .checkbox input[type=checkbox],.navbar-form .radio input[type=radio] {
position:relative;
margin-left:0;
}

.form-inline .checkbox label,.form-inline .radio label,.navbar-form .checkbox label,.navbar-form .radio label {
padding-left:0;
}

